* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: navy;
  }
  Main {
    margin: 10em auto;
    width: 50%;
    height: 60vh;
    background-color: navy;
    display: grid;
    grid-template-areas:
      "a a b"
      "a a b"
      "c d d"
      "c e e";
  }
  Main div {
    margin: 0.3em;
  }
  
  .a {
    padding: 20px;
    background-color: orangered;
    grid-area: a;
  }
  .b {
    padding: 20px;
    background-color: orange;
    grid-area: b;
  }
  .c {
    padding: 20px;
    background-color: rgb(4, 158, 4);
    grid-area: c;
  }
  .d {
    padding: 20px;
    background-color: rgb(37, 173, 226);
    grid-area: e;
    grid-column: 2 / span 2;
  }
  .e {
    padding: 20px;
    background-color: rgb(37, 173, 226);
    grid-column: 2 / span 2;
  }